{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "no-restricted-syntax": "off",
    "react/require-default-props": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "semi": [2, "never"]
  }
}