body {
  font-size: 12px;
  font-family: "Times New Roman";
}

nav {
  height: 70px;
  text-align: center;
  a {
    font-size: 1.5rem;
    font-family: Helvetica;
  }
}

a {
  text-decoration: none;
  color: black;
  &:visited {
    color: black;
  }

  &:hover {
    color: black;
  }

  &:active {
    color: black;
  }
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

.search_box {
  text-align: center;
}

.search_box__error_message {
  color: red;
}

.thumbnail_gallery {
  height: 500px;
  overflow-y: scroll;
}

.thumbnail_gallery__image {
  display: inline-block;
  width: 140px;
  height: 140px;
  margin: 5px;
  position: relative;

  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}

.pagination {
  height: 50px;
  max-width: 200px;
  margin: 0 auto;
  a {
    font-size: 1.2rem;
  }
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
}

.asset_details {
  a {
    text-decoration: underline;
    &:hover {
      color: #8a2be2;
    }
  }
}